<!DOCTYPE html>

<!-- This page introduces the reasons why our team established this website
     and the basic usages -->

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UniStore</title>
    <%- include navBar.ejs %>
    <link rel='stylesheet' href='/stylesheets/aboutUs.css' />
</head>
<body>
<div class="aboutUs">
<h2>About Us</h2>
<div class="textContainer">
    <p>
        Welcome to Uni-Store! If you find it is too expensive of buying brand new book,
        If you want to have study material with some notes instead of empty book,
        if you do not know how to deal with books that you may not use anymore,
        if you have many spare books in your home.
        Do not worry, we could help you to solve all those issues!<br>
        You can find lowest book price in our website,
        and upload books that you do not need anymore to sell at a suitable price.
    </p>
    </br>
    <div class="moving">
    </div>
    </br>
    <p>
        You can search any books that you need by keywords, or you can go thought books by different category,
        there's always a book that you want, and waiting for you to bring to home.<br>
        In use page you can upload a book to sell, and also find out your favourite list and what books
        that you have already posted, if some students buy your books, you need to delete this books form your upload book list.
    </p></br>
    <div class="moving2">
    </div>
    <p>
        </br>Thank you for visiting us!
    </p>
</div>
</div>
<!--footer-->
<%- include footer.ejs %>
</body>
</html>
