<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/b1fede7911.js" crossorigin="anonymous"></script>
</head>
<body>
<footer>
    <div class="footer">
        <div class="footer-text">
            <div class="footer-section">
                <h1 class = "logo_text"><span>Uni</span>Store</h1>
                <p>
                    Welcome to Uni-Store!
                    This website is a second hand text book trade website
                    help tertiary students to acquire textbooks via an affordable price.
                </p>
            </div>
            <div class="footer-section s2">
                <h1 class = "logo_text"><span>Contact</span>Us</h1>
                <div class="contact">
                    <span><i class=" fas fa-phone"></i>&nbsp +614-1234-5678</span>
                    </br>
                    <span><i class=" fas fa-envelope"></i>&nbsp 12345@student.unimelb.edu.au</span>
                    </br>
                    <span><i class=" fab fa-github"></i>&nbsp https://github.com/chunwenc/UniStaffs</span>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            &copy; INFO30005 | Designed by UniStaffs
        </div>
    </div>
    </div>
</footer>
</body>
</html>