<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome</title>
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href='/stylesheets/welcome.css'/>
  <script src="https://kit.fontawesome.com/b1fede7911.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <p>
    A website to help you reduce the textbook expenditure of your tertiary education.
  </p>
  <p>
    The search page allows you to find the relevant books by typing in the book name, author name or
    the major the book belonging to. Besides, on the search result page, you can easily add books in your
    favorite book list, and you can review it at any time through the user page. You could also see
    the details of that book and the seller contact method.
  </p>
  <p>
    You could upload any textbook you intend to sell through the "Upload Book" function in the user page,
    and you could check all your uploaded books later.
    In addition, once someone contacts you and decides to buy that book, you could delete that book from the website.

  </p>
</div>
<header>
  <div class="title-cont">
    <div class="title">Welcome to UniStore</div>
    </br></br>

    <div class="button" ><a href="/users/login"><span>Start</span></a></div>
    </br></br></br>
    <div class="arrow"><i class="fas fa-angle-double-down"> More details below</i></div>

  </div>
</header>
</body>
</html>